<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
<link rel="shortcut icon" href="./images/l2m.ico">
<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
<title>Learn2Mine Class Modifier</title>
<script type="text/javascript">
</script>
</head>
<body>
<a href="http://birg.cs.cofc.edu/index.php/Anderson_Lab"><img src="/images/Paul-labs-logo.png" align="right" title="BiRG Labs" style="width: 75px;"></a>
        <a id="home" href="Home"><div id="banner"><img id=bannerImg src='images/learn2mine.png' title="LOOK AT BANNER, MICHAEL!"/></div></a>
        <div id="lava">
                <ul>
                        <li><a id="home" href="Home"><div class="sitenav" id="homelink">Home</div></a></li>
                        <li><a id="profile" href="Profile"><div class="sitenav" id="profilelink">Profile</div></a></li>
                        <li><a id="leaderboard" href="Leaderboard"><div class="sitenav" id="leaderlink">Leaderboard</div></a></li>
                        <li><a id="about" href="About"><div class="sitenav" id="aboutlink">About</div></a></li>
                        <li><a id="help" href="Help"><div class="sitenav" id="helplink">Help</div></a></li>
                        <li><a id="rstudio" target="_blank" href="http://portal.cs.cofc.edu/learn2mine-rstudio"><div class="sitenav" id="rstudiolink">Rstudio</div></a></li>
                        <li><a id="LessonCreator" href="LessonCreator"><div class="sitenav" id="lessoncreatorlink">Create</div></a></li>
                        <li><a id="Class" href="Class"><div class="sitenav" id="classviewlink">Class</div></a></li>
                </ul>
                <div class="loggedin">{{user}}</div>
        </div>
{% if errorCatch != "yes" %}
	<div id="NPStext">
	<h1> {{ class }} Grade Viewer </h1>
<table id="grades">
<tr>
	<td>Lesson Name</td>
        {% for i in range(1, maxProblemCount+1) %}
        <td>Question {{loop.index}}</td>
        {% endfor %}
	<td>Score</td>
</tr>
<tr>
{% for lesson in lessonplanResults %}
	{% if lesson[3] == "DM" %}
		<td><a href="/DMLessonTest?page={{lesson[1]}}">{{lesson[0]}}</a></td>
	{% else %}
		<td><a href="/PublicLesson?key={{lesson[1]}}">{{lesson[0]}}</a></td>
	{% endif %}
	{% for result in lesson[2] %}
		{% if "solved this problem." not in result %}
			<td><span style="color:#FF0000;font-size:140%;">&#x2716;</span></td>
		{% else %}
			<td><span style="color:#00FF00;font-size:140%;">&#x2714;</span></td>
		{% endif %}
	{% endfor %}
	{% for i in range(0,maxProblemCount-lesson[2]|length) %}
		<td></td>
	{% endfor %}
	<td>{{ lesson[4] }}</td>
</tr>
{% endfor %}
</table>
<br><br>
<form id="leaveClass" name="leaveClass" action="/GradeViewer" method="post" onsubmit="return confirm('Do you really want to leave the class?');">
<input type="hidden" value="{{key}}" name="key">
<input type="submit" value="Leave this Class">
</form>
</div>

{% else %}
    <br><br>
    <center><b>Error in accessing page. Either page does not exist or you do not have acess.<br></b>
    <br><br><br>
{% endif %}
</html>
{% endautoescape %}
