<!DOCTYPE HTML> 
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

<title>Learn2Mine</title>

<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
<link type="text/css" rel="stylesheet" href="/stylesheets/tutorial.css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<link rel="shortcut icon" href="./images/l2m.ico">
<script type="text/javascript" SRC="./Javascript/jquery.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script type="text/javascript"
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript">
$(function() {
$( "#progressbar" ).progressbar({
value: {{ exp }}
});
});
</script>

<style type="text/css">
#wrap {
   width:900px;
   margin:0;
}
#left_col {
   float:left;
   width:450px;
   overflow-x: auto;
}
#right_col {
   float:right;
   width:450px;
   overflow-x: auto;
}
</style>

</head>

<body>

	<a href="http://birg.cs.cofc.edu/index.php/Anderson_Lab"><img src="/images/Paul-labs-logo.png" align="right" title="BiRG Labs" style="width: 75px;"></a>
	<a id="home" href="Home"><div id="banner"><img id=bannerImg src='images/learn2mine.png' title="LOOK AT BANNER, MICHAEL!"/></a></div>
	<div id="lava">
		<ul>
                        <li><a id="home" href="Home"><div class="sitenav" id="homelink">Home</div></a></li>
                        <li><a id="profile" href="Profile"><div class="sitenav" id="profilelink">Profile</div></a></li>
                        <li><a id="about" href="About"><div class="sitenav" id="aboutlink">About</div></a></li>
                        <li><a id="help" href="Help"><div class="sitenav" id="helplink">Help</div></a></li>
                        <li><a id="rstudio" target="_blank" href="http://portal.cs.cofc.edu/learn2mine-rstudio"><div class="sitenav" id="rstudiolink">Rstudio</div></a></li>
                        <li><a id="LessonCreator" href="LessonCreator"><div class="sitenav" id="lessoncreatorlink">Create</div></a></li>
                        <li><a id="Class" href="Class"><div class="sitenav" id="classviewlink">Class</div></a></li>
		</ul>
		<div class="loggedin">{{user}}</div>
	</div>
        {% if errorCatch != "yes" %} 
	<div class="container" id="tutorialText">
		<h2>{{lesson.header}}</h2>
		<div id="tutorialText">
			<p>
				{{lesson.paragraph}}
			</p>
			<p>
				This experience bar represents your progress through the lesson. Depending on the lesson, there may be more than one way of obtaining full experience. For example, some lessons have "boss" fights at the end that, once completed, will max out your experience. These lessons will be clearly marked as such, and additional instructions will be given.
			</p>
			<div id="progressbar"></div><div id="progress-label">XP</div>
			<p>
                                Enter your code in the box provided if the answer is not correct, the difference between the answer produces by running the correct solution and yours will be shown.
			</p>
			<p>
				<ol>
					{% for problem in problems %}
						{% if "Job running" in result[loop.index0] %}
							<form name="refreshResult" method="post" id="refreshResult" action="/RefreshGrade">
							<input type="hidden" name="question" value="{{loop.index}}"/>
							<input type="hidden" name="urlKey" value="{{ urlKey }}"/>
							<A NAME="q{{loop.index}}"></A>
							<li>{{ problem }}</li>
							<textarea name="studentCode" class="answer{{ loop.index }}" cols="50" rows="5">{% if mostRecent[loop.index0] != "" %}{{ mostRecent[loop.index0] }}{%endif%}</textarea>
							<br><br>
							<input type="submit" class="regularButton" value="Refresh results">
							<br><br>Job is running, click above to refresh results<br><br>
							</form>
							<form name="deleteHistory" method="post" id="deleteHistory" action="/ClearHistory">
							<input type="hidden" name="question" value="{{loop.index}}"/>
							<input type="hidden" name="urlKey" value="{{ urlKey }}"/>
							<input type="submit" class="regularButton" value="Clear submission">
							</form>
							<div class="outputid{{ loop.index }}">
							</div><br><br>
						{% else %}
							<form name="grade{{ loop.index }}" method="post" id="gradeform" action="/OnsiteGrader">
							<input type="hidden" name="question" value="{{loop.index}}"/>
							{% if public %}
								<input type="hidden" name="urlKey" value="{{ urlKey }}"/>
							{% else %}
								<input type="hidden" name="page" value="{{ page }}"/>
							{% endif %}
							<A NAME="q{{loop.index}}"></A>
							<li>{{ problem }}</li>
							<textarea name="studentCode" class="answer{{ loop.index }}" cols="50" rows="5" placeholder="Enter code or answer here">{% if mostRecent[loop.index0] != "" %}{{ mostRecent[loop.index0] }}{%endif%}</textarea>
							<br>
                                        	        {% if "rcode" in languages %}
							<br>
				                	<input type="submit" class="regularButton" name="language" value="Grade R Code">
	                                                {% endif  %}
        	                                        {% if "python" in languages %}
							<br>
					                <input type="submit" class="regularButton" name="language" value="Grade Python Code">
                        	                        {% endif %}
							<p>
							<div class="outputid{{ loop.index }}">
							{{ result[loop.index0] }}
							</div><br><br>
							</form>
						{% endif %}
					{% endfor %}
					{% if exp == 100 %}
						<img width='150px' height='150px' src='/Badge?id={{ urlKey }}' /img>
					{% endif %}

				</ol>
			</p>
		</div>
	</div>
	{% else %}
            <br><br>
            <center><b>Error in accessing page. Either page does not exist or you do not have access.<br></b>
            <br><br><br>
	{% endif %}

</body>
