<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
<!--<meta http-equiv="refresh" content="30">-->
</head>
<link rel="shortcut icon" href="./images/l2m.ico">
<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
<title>Learn2Mine Lesson Maker</title>
<script type="text/javascript">
    function validateUpdate() {
	var checked = 0;

	if(updateLesson.removePython.checked && updateLesson.removeRcode.checked) {
	    alert("Cannot remove both programming langauges.");
	    return false;
	}
	if(!(typeof updateLesson.removeQuestion.length == "undefined")) {
	    for (i=0; i < updateLesson.removeQuestion.length; i++) {
		if (updateLesson.removeQuestion[i].checked) {
		    checked++;
		}
	    }
	    if (checked == updateLesson.removeQuestion.length) {
		alert("Cannot remove all questions from lesson.");
		return false;
	    }
	}
	else {
	    if(updateLesson.removeQuestion.checked) {
		alert("Cannot remove all questions from lesson.");
		return false;
	    }
	}
	return true;
    }
</script>
<body>
<a href="http://birg.cs.cofc.edu/index.php/Anderson_Lab"><img src="/images/Paul-labs-logo.png" align="right" title="BiRG Labs" style="width: 75px;"></a>
        <a id="home" href="Home"><div id="banner"><img id=bannerImg src='images/learn2mine.png' title="LOOK AT BANNER, MICHAEL!"/></a></div>
        <div id="lava">
                <ul>
                        <li><a id="home" href="Home"><div class="sitenav" id="homelink">Home</div></a></li>
                        <li><a id="profile" href="Profile"><div class="sitenav" id="profilelink">Profile</div></a></li>
                        <li><a id="leaderboard" href="Leaderboard"><div class="sitenav" id="leaderlink">Leaderboard</div></a></li>
                        <li><a id="about" href="About"><div class="sitenav" id="aboutlink">About</div></a></li>
                        <li><a id="help" href="Help"><div class="sitenav" id="helplink">Help</div></a></li>
                        <li><a id="rstudio" target="_blank" href="http://portal.cs.cofc.edu/learn2mine-rstudio"><div class="sitenav" id="rstudiolink">Rstudio</div></a></li>
                        <li><a id="LessonCreator" href="LessonCreator"><div class="sitenav" id="lessoncreatorlink">Create</div></a></li>
                        <li><a id="Class" href="Class"><div class="sitenav" id="classviewlink">Class</div></a></li>
                </ul>
                <div class="loggedin">{{user}}</div>
        </div>
	{% if errorCatch != "yes" %}
	<div id="NPStext">
	<h1>Submit code for Learn2Mine Lesson</h1>

                <form name="updateLesson" action="/LessonModify" id="updateLesson" method="post" onsubmit="return validateUpdate();">
		{% if user == lesson.author %}
			Submit lesson plan then <a href="http://learn2mine.appspot.com/LessonPreview?page={{ lesson.name }}" 
			target="_blank">click here</a> to preview your lesson plan as it would appear in Learn2Mine.
			Refresh the page as updates are submitted to view changes.<br>

			<br>
			Public Viewing URL: http://learn2mine.appspot.com/LessonPreview?key={{ lesson.urlKey }} <br>
			Public Edit URL: http://learn2mine.appspot.com/LessonModify?key={{ lesson.urlKey }} <br>
			Public Lessonplan URL: http://learn2mine.appspot.com/PublicLesson?key={{ lesson.urlKey }} <br><br>


			{% if lesson.publicView == "True" %}
				<input type="checkbox" name="publicView" value="no">Make lesson unavailable for public viewing
			{% else %}
				<input type="checkbox" name="publicView" value="yes">Make lesson available for public viewing
			{% endif %}<br>
			{% if lesson.publicEdit == "True" %}
				<input type="checkbox" name="publicEdit" value="no">Make lesson unavailable for public edits
			{% else %}
				<input type="checkbox" name="publicEdit" value="yes">Make lesson available for public edits
			{% endif %}<br>
			{% if lesson.publicExecute == "True" %}
				<input type="checkbox" name="publicExecute" value="no">Make lesson unavailable for public lessonplans
			{% else %}
				<input type="checkbox" name="publicExecute" value="yes">Make lesson available for public lessonplans
			{% endif %}<br><br>

		{% else %}
			Submit lesson plan then <a href="http://learn2mine.appspot.com/LessonPreview?key={{ lesson.urlKey }}" 
			target="_blank">click here</a> to preview your lesson plan as it would appear in Learn2Mine.
			Refresh the page as updates are submitted to view changes.<br>

			<br>

		{% endif %}
		Change Language Options<br>
		{% if lesson.languages|length == 1 %}
			{% if lesson.languages[0] == "Python" %}
				<input type="checkbox" name="addRcode" value="yes">Add option to submit answers using R
			{% else %}
				<input type="checkbox" name="addPython" value="yes">Add option to submit answers using Python
			{% endif %}
		{% else %}
			<input type="checkbox" name="removeRcode" id="removeRcode" value="yes">Remove option to submit answers using R<br>
			<input type="checkbox" name="removePython" id="removePython" value="yes">Remove option to submit answers using Python	
		{% endif %}
		<br><br>
		Remove Questions from Lesson<br>
                {% for i in range(0,(lesson.problems|length)) %}
	                <input type="checkbox" name="removeQuestion" value="{{ i }}">Remove Question {{ i+1 }}<br>
		{% endfor %}
		<br>
		Add Questions to Lesson<br>
		<select id="addQuestions" name="addQuestions" form="updateLesson">
		<option value="0"></option>
		{% for i in range(1,(11-lesson.problems|length)) %}
			<option value="{{i}}">{{i}}</option>
		{% endfor %}
		</select> 

                <input type="hidden" name="lessonName" value={{ lesson.name }} />
                <input type="hidden" name="questionCount" value={{ lesson.problems|length }} />
		<input type="hidden" name="python" value={{ python }} />
		<input type="hidden" name="rcode" value={{ rcode }} />
		<input type="hidden" name="languages" value={{ lesson.languages }} />
		<input type="hidden" name="modify" value="True" />
		<input type="hidden" name="urlKey" value={{ lesson.urlKey }} />
                <div id="lessonMakerSubmit"><input type="submit" value="Update Lesson Parameters"></div>
		</form>
		<br><br>

	Initialization Code - Code that is run before the student code<br>

	Instructor Code - Code that is used to generate the answer<br>

	Finalization Code - Code that is run after the student code<br><br><br>

	NOTE: Line breaks in problem statements will be translated properly in HTML (no need for break tags). <br>
	Other HTML tags can be used for bold, underline, etc. if so desired.<br><br><br>

	<form action="/LessonModify" method="post" name="lessonModify">

		Full Lesson Name: <input type="text" name=fullLesson value='{{ lesson.header }}'><br><br>
		Paragraph<br>
                <textarea id="lessonMakerTextarea" name="paragraph" rows="6" cols="80">{{ lesson.paragraph }}</textarea></div><br><br><br><br>

{% if lesson.languages|length != 1 %}
		{% for i in range(0,(lesson.problems|length)) %}
		<div id="NPStext">


		      	<center><b>Problem Statement: Question {{ i+1 }}</b></center><br>
			<center><textarea id="lessonMakerTextarea" name="problem" rows="6" cols="80">{{ lesson.problems[loop.index0] }}</textarea></center>

		<div id="lessonMakerWrap">
		    <br>
		    <div id="lessonMakerLeft">
			R Init Code: Question {{ i+1 }}
		      	<div><textarea id="lessonMakerTextarea" name="R-init" rows="6" cols="80">{{ lesson.rcodeInit[loop.index0] }}</textarea></div>

			R Instructor Code: Question {{ i+1 }}
			<div><textarea id="lessonMakerTextarea" name="R-instruct" rows="6" cols="80">{{ lesson.rcodeInstruct[loop.index0] }}</textarea></div>

			R Final Code: Question {{ i+1 }}
			<div><textarea id="lessonMakerTextarea" name="R-final" rows="6" cols="80">{{ lesson.rcodeFinal[loop.index0] }}</textarea></div><br><br>
		    </div>
		    <div id="lessonMakerRight">

                        Python Init Code: Question {{ i+1 }}
                        <div><textarea id="lessonMakerTextarea" name="Python-init" rows="6" cols="80">{{ lesson.pythonInit[loop.index0] }}</textarea></div>

                        Python Instructor Code: Question {{ i+1 }}
                        <div><textarea id="lessonMakerTextarea" name="Python-instruct" rows="6" cols="80">{{ lesson.pythonInstruct[loop.index0] }}</textarea></div>

                        Python Final Code: Question {{ i+1 }}
                        <div><textarea id="lessonMakerTextarea" name="Python-final" rows="6" cols="80">{{ lesson.pythonFinal[loop.index0] }}</textarea></div>

                        <br><br>
		    	</div>
			</div>
		</div>
                {% endfor %}


{% else %}
	<div id="NPStext">
	{% if lesson.languages[0] == "Python" %}
		{% for i in range(0,(lesson.problems|length)) %}
		      	<b>Problem Statement: Question {{ i+1 }}</b><br>
			<textarea id="lessonMakerTextarea" name="problem" rows="6" cols="80">{{ lesson.problems[loop.index0] }}</textarea><br><br>

			{{ lesson.languages[0] }} Init Code: Question {{ i+1 }}<br>
		      	<textarea id="lessonMakerTextarea" name="{{ lesson.languages[0] }}-init" rows="6" cols="80">{{ lesson.pythonInit[loop.index0] }}</textarea><br><br>

			{{ lesson.languages[0] }} Instructor Code: Question {{ i+1 }}<br>
			<textarea id="lessonMakerTextarea" name="{{ lesson.languages[0] }}-instruct" rows="6" cols="80">{{ lesson.pythonInstruct[loop.index0] }}</textarea><br><br>

			{{ lesson.languages[0] }} Final Code: Question {{ i+1 }}<br>
			<textarea id="lessonMakerTextarea" name="{{ lesson.languages[0] }}-final" rows="6" cols="80">{{ lesson.pythonFinal[loop.index0] }}</textarea><br><br>

			<br><br>
		{% endfor %}
	{% elif lesson.languages[0] == "R" %}
		{% for i in range(0,(lesson.problems|length)) %}
		      	<b>Problem Statement: Question {{ i+1 }}</b><br>
			<textarea id="lessonMakerTextarea" name="problem" rows="6" cols="80">{{ lesson.problems[loop.index0] }}</textarea><br><br>


			{{ lesson.languages[0] }} Init Code: Question {{ i+1 }}<br>
		      	<textarea id="lessonMakerTextarea" name="{{ lesson.languages[0] }}-init" rows="6" cols="80">{{ lesson.rcodeInit[loop.index0] }}</textarea><br><br>

			{{ lesson.languages[0] }} Instructor Code: Question {{ i+1 }}<br>
			<textarea id="lessonMakerTextarea" name="{{ lesson.languages[0] }}-instruct" rows="6" cols="80">{{ lesson.rcodeInit[loop.index0] }}</textarea><br><br>

			{{ lesson.languages[0] }} Final Code: Question {{ i+1 }}<br>
			<textarea id="lessonMakerTextarea" name="{{ lesson.languages[0] }}-final" rows="6" cols="80">{{ lesson.rcodeFinal[loop.index0] }}</textarea><br><br>

			<br><br>
		{% endfor %}
	{% endif %}

	</div>
{% endif %}
		<input type="hidden" name="python" value={{ python }} />
		<input type="hidden" name="rcode" value={{ rcode }} />
		<input type="hidden" name="languages" value={{ lesson.languages }} />
		<input type="hidden" name="questionCount" value={{ lesson.problems|length }} />
		<input type="hidden" name="lessonName" value={{ lesson.name }} />
		<input type="hidden" name="modify" value="False" />
		<input type="hidden" name="urlKey" value={{ lesson.urlKey }} />
		<div id="lessonMakerSubmit"><input type="submit" value="Update Lesson Plan"></div>
	</form><br>
	</div>
{% else %}
    <br><br>
    <center><b>Error in accessing page. Either page does not exist or you do not have acess.<br></b>
    <br><br><br>
{% endif %}
<a href="{{ url|safe }}">{{ url_linktext }}</a>
<br><br>
</body>
</html>
{% endautoescape %}
