<!DOCTYPE HTML> 
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<meta http-equiv="refresh" content="30">
<title>Learn2Mine</title>
<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
<link type="text/css" rel="stylesheet" href="/stylesheets/tutorial.css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<link rel="shortcut icon" href="./images/l2m.ico">
<script type="text/javascript" SRC="./Javascript/jquery.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script type="text/javascript">
var correct = 0;
var totalProblems = 0;
var problemsCorrect = new Array();
function updateProgressBar(problemNumber) {
	if(problemNumber == totalProblems){
		var experience = 100;
	}
	else{
		if( $.inArray(problemNumber,problemsCorrect) === -1 ){
			problemsCorrect.push(problemNumber);
			correct += 1;
			var experience = ((correct*100)/(totalProblems*100))*100;
		}
	}
	$( "#progressbar" ).progressbar({
		value: experience,
	});
};
	$(function() { // Initialize Progress Bar
    	$( "#progressbar" ).progressbar({
    	value: 0
    });
  });
</script>

</head>

<body>

	<a href="http://birg.cs.cofc.edu/index.php/Anderson_Lab"><img src="/images/Paul-labs-logo.png" align="right" title="BiRG Labs" style="width: 75px;"></a>
	<a id="home" href="Home"><div id="banner"><img id=bannerImg src='images/learn2mine.png' title="LOOK AT BANNER, MICHAEL!"/></a></div>
	<div id="lava">
		<ul>
			<li><a id="home" href="Home"><div class="sitenav" id="homelink">Home</div></a></li>
			<li><a id="profile" href="Profile"><div class="sitenav" id="profilelink">Profile</div></a></li>
			<li><a id="about" href="About"><div class="sitenav" id="aboutlink">About</div></a></li>
			<li><a id="help" href="Help"><div class="sitenav" id="helplink">Help</div></a></li>
                        <li><a id="rstudio" target="_blank" href="http://portal.cs.cofc.edu/learn2mine-rstudio"><div class="sitenav" id="rstudiolink">Rstudio</div></a></li>
                        <li><a id="LessonCreator" href="LessonCreator"><div class="sitenav" id="lessoncreatorlink">Create</div></a></li>
                        <li><a id="Class" href="Class"><div class="sitenav" id="classviewlink">Class</div></a></li>
		</ul>
		<div class="loggedin">{{user}}</div>
	</div>
	{% if errorCatch != "yes" %}
	<div class="container" id="tutorialText">
		<h2>{{header}}</h2>
		<div id="tutorialText">
			<p>
				{{paragraph}}
			</p>
			<p>
				This experience bar represents your strength for taking on the boss fight. Defeat the "boss problem" and you will max out your strength.
			</p>
			<div id="progressbar"></div><div id="progress-label">XP</div>
			<p>
				{{reminder}}
			</p>
			<p>
				<ol>
					{% for i in range(problems|length) %}
					<script type="text/javascript">
						totalProblems += 1;
					</script>
						<li>{{problems[i]}}</li>
						<textarea class="answer{{ loop.index }}" cols="50" rows="5" placeholder="Enter code or answer here"></textarea>
						<br>
                                                {%- if "R" in languages -%}
						<input type="button" value="Grade R Code"/>
                                                {%- endif %}
                                                {%- if "Python" in languages  -%}
						<input type="button" value="Grade Python Code"/>
                                                {%- endif %}
						<p>
						<div class="outputid{{ loop.index }}">No submission</div>
						<br>
					{% endfor %}
				</ol>
				<br>
			</p>
		</div>
	</div>
	{% else %}
	    <br><br>
	    <center><b>Error in accessing page. Either page does not exist or you do not have access.<br></b>
	    <br><br><br>
	{% endif %}

</body>
