body {
	position: relative; 
	height: 100%; 
	margin: 0px; 
	padding: 0px; 
	padding-left: 0px; 
	padding-top: 0px; 
	border: none; 
	overflow: auto;
	color: black; 
    font-family: Calibri, Verdana, Helvetica, sans-serif;/*sets fonts to be used*/
    background-color:rgba(255,255,255,1);
    overflow: auto;
    h1 {
    font-family: Calibri, Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif }
    address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted }
}


.container{
	margin-left: auto;
	margin-right: auto;
}

.loggedin{
	text-align: right;
	padding-top: 8px;
	padding-left: 850px;
	margin-right: 50px;
	color:#FFFFFF;
}

#PStext{
	padding-left:50px; 
	padding-right:350px;

}
#NPStext{
	padding-left:50px; 
	padding-right:50px;
}
.button{
	color:#FFFFFF;
	font-size:xx-large;
	background-color:#0175AC;
	text-align: center;
	width:250px; 
	height:75px;
}
.button:hover{
	background-color:#3385D6;
}

#splash{
	background-color: #0175AC;
}

h1.header {
	color: #47BE3E;
	font-family: 'Baumans', Candara, cursive;
    background-color: #0266C8;
    margin: 0;
	margin-top:-10px;
	padding-top:10px;
	margin-left:-10px;
	padding-left:10px;
	margin-right:-10px;
}
h1 span {
	color: #F41F31;
	font-family: 'Baumans', Candara, cursive;

}

h3.headerdescription {
	color: #FFCF2F; 
	font-family: 'Baumans', Candara, cursive;
    background-color: #0266C8;/*gives a lighter background color than body*/
    margin: 0;
    margin-bottom: 20;
    margin-top:-10px;
	padding-top:10px;
	margin-left:-10px;
	padding-left:10px;
	margin-right:-10px;
	padding-bottom:5px;
}

 a {list-style:none;}
 a:link {color: black;}
 a:visited {color: black;}
 a:hover {color: #25BFC4;}
 a:active {color: #1A29B3;}

div#welcome{
	padding:20px 25% 0px 20px;
}

#lava {
    /* you must set it to relative, so that you can use absolute position for children elements */
    position:relative; 
    text-align:center; 
    width:100%; 
    height:36px;
    margin-left:0px;
    background-color:#313131;
    
}
 
#lava ul {
    /* remove the list style and spaces*/
    margin:0; 
    padding:0; 
    padding-left:0px;
    padding-top: 3px;
    list-style:none; 
    display:inline;
             
    /* position absolute so that z-index can be defined */
    position:absolute; 
     
    /* center the menu, depend on the width of you menu*/
    left:0; 
    top:0; 
     
    /* should be higher than #box */
    z-index:100;
    
 
}
 
#lava ul li {
     
    /* give some spaces between the list items */
    margin:0 10px; 
     
    /* display the list item in single row */
    float:left;
}


#header2 a{
    display:block;
    padding:5px 15px 4px 6px;
    }
   
    

#header2 #current a {
    padding-bottom:5px;
    }
    
textarea.Title {font-size: 150%;
border: none;
background:#DAE0D2;
font-family: Calibri, Verdana, Helvetica, sans-serif;
}

textarea.TitleTitle {font-size: 180%;
font-weight: bold;
border: none;
background:#DAE0D2;
font-family: Calibri, Verdana, Helvetica, sans-serif;
}

textarea.Description {font-size: 125%;
	border: none;
	background:#DAE0D2;
	font-family: Calibri, Verdana, Helvetica, sans-serif;
}

div#pageslide{
	overflow:auto;
}

/*LESSON FORMATTING*/
.lessontext{
	margin: 20px 300px 50px 15px;
	padding: 10px 20px 10px 20px;
	background-color: rgba(255,255,255,.7);
	border: 8px solid #818181;
	overflow:auto;
	position:fixed;
	top: 150px;
	bottom: 75px;
}

.lessontext#helplessontext{
	width: 60%;
}

.lesson {
	top:110px;
	margin-left: auto;
	margin-right: auto;
	bottom:100px;
	position:fixed;
	overflow:auto;
}
.Rlesson {
	top:110px;
	margin-left: auto;
	margin-right: auto;
	position:fixed;
	bottom:10px;
	overflow:auto;
}

/*LEADERBOARDS*/
table{
        color:#FFFFFF
}
table#grades{
	color:#828282
}
table#leaderboard{
	background-image:url('../images/leaderboard.png');
	background-size:450px 300px;
	border-collapse:collapse;
	border:1px solid #828282;
}
table#leaderboard td{
	padding: 5px 12px;
	border:1px solid #828282;
}
table#leaderboard th{
	padding: 5px 12px;
	border:1px solid #494949;
	background-color:#494949;
}
table#leaderboard tr:hover td{
	background:#9b9b9b;
	color:#000000
}
div#leaderboard{
	padding-left:10%;
	padding-top:20px;
}

/*TOP NAVIGATION LINKS*/
.sitenav{
	color:#FFFFFF;
	height:23px;
	width:100px;
	background-size:80px 30px;
	position: absolute;
	padding-top:7px;
}
div#homelink{
	background-color:#313131;
	left:10px;
}
div#profilelink{
	background-color:#313131;
	left:110px;
}
div#leaderlink{
	background-color:#313131;
	left:230px;
}
div#searchlink{
	background-color:#313131;
	left:350px;
}
div#aboutlink{
	background-color:#313131;
	left:350px;
}
div#helplink{
	background-color:#313131;
	left:450px;
}
div#galaxylink{
	background-color:#313131;
	left:550px;
}
div#rstudiolink{
	background-color:#313131;
	left:550px;
}
div#lessoncreatorlink{
	background-color:#313131;
	left:650px;
}
div#classviewlink{
	background-color:#313131;
	left:750px;
}
/*site nav hover images*/
div#homelink:hover{
	background-color:#898989;
}
div#profilelink:hover{
	background-color:#898989;
}
div#leaderlink:hover{
	background-color:#898989;
}
div#searchlink:hover{
	background-color:#898989;
}
div#aboutlink:hover{
	background-color:#898989;
}
div#helplink:hover{
	background-color:#898989;
}
div#galaxylink:hover{
	background-color:#898989;
}
div#gradelink:hover{
	background-color:#898989;
}
div#rstudiolink:hover{
	background-color:#898989;
}


/*LESSON LINKS*/
.lessonlink{
	height:40px;
	width:200px;
	background-size:100% 40px;
}

div#starting{
	background-image:url('../images/welcomeLink_U.png');
}
div#knn{
	background-image:url('../images/knnLink_U.png');
}
div#kmeans{
	background-image:url('../images/kmeansLink_U.png');
}
div#galaxy{
	background-image:url('../images/galaxyLink_U.png');
}
div#rstudio{
	background-image:url('../images/rstudioLink_U.png');
}
div#sf{
	background-image:url('../images/sfLink_U.png');
}
div#pca{
	background-image:url('../images/pcaLink_U.png');
}
div#pls{
	background-image:url('../images/plsLink_U.png');
}
div#techniques{
	background-image:url('../images/techniquesLink_U.png');
}
div#nn{
	background-image:url('../images/nnLink_U.png');
}
div#mb{
	background-image:url('../images/mbLink_U.png');
}
div#case{
	background-image:url('../images/caseLink_U.png');
}
div#algae{
	background-image:url('../images/algaeLink_U.png');
}
div#stocks{
	background-image:url('../images/stocksLink_U.png');
}
div#fraud{
	background-image:url('../images/fraudLink_U.png');
}
div#share{
	background-image:url('../images/shareLink_U.png');
}
div#logins{
	background-image:url('../images/loginsLink_U.png');
}

/*lesson link hover images*/
div#knn:hover{
	background-image:url('../images/knnLink_S.png');
}
div#kmeans:hover{
	background-image:url('../images/kmeansLink_S.png');
}
div#starting:hover{
	background-image:url('../images/welcomeLink_S.png');
}
div#galaxy:hover{
	background-image:url('../images/galaxyLink_S.png');
}
div#rstudio:hover{
	background-image:url('../images/rstudioLink_S.png');
}
div#pca:hover{
	background-image:url('../images/pcaLink_S.png');
}
div#pls:hover{
	background-image:url('../images/plsLink_S.png');
}
div#techniques:hover{
	background-image:url('../images/techniquesLink_S.png');
}
div#nn:hover{
	background-image:url('../images/nnLink_S.png');
}
div#sf:hover{
	background-image:url('../images/sfLink_S.png');
}
div#mb:hover{
	background-image:url('../images/mbLink_S.png');
}
div#case:hover{
	background-image:url('../images/caseLink_S.png');
}
div#algae:hover{
	background-image:url('../images/algaeLink_S.png');
}
div#stocks:hover{
	background-image:url('../images/stocksLink_S.png');
}
div#fraud:hover{
	background-image:url('../images/fraudLink_S.png');
}
div#share:hover{
	background-image:url('../images/shareLink_S.png');
}
div#logins:hover{
	background-image:url('../images/loginsLink_S.png');
}

/*BANNER*/
#banner{
	background: #0076A3 url('../images/bannerfiller.png') repeat-x; padding:0em; height:80px;
}
img#bannerImg{
	height:80px;
	width:580px;
	align:left;
}

/*LESSON NAVIGATION ARROWS*/
.arrow{
	height:75px;
	width:125px;
	background-size:125px 75px;
	position:fixed;
	bottom: 5px;
}
div#forwardArrow{
	background-image:url('../images/forward_U.png');
	right: 50px;
	float:right;
}
div#backArrow{
	background-image:url('../images/back_U.png');
	left: 50px;
	float:left;
}
div#forwardArrow:hover{
	background-image:url('../images/forward_S.png');
}
div#backArrow:hover{
	background-image:url('../images/back_S.png');
}

/*PROFILE NAVIGATION ARROWS*/
div#forwardProfileArrow{
	background-image:url('../images/forward_U.png');
	left: 550px;
	bottom: -100px;
}
div#backProfileArrow{
	background-image:url('../images/back_U.png');
	left: 10px;
	bottom: -100px;
}
div#forwardProfileArrow:hover{
	background-image:url('../images/forward_S.png');
}
div#backProfileArrow:hover{
	background-image:url('../images/back_S.png');
}

/*BADGE DISPLAY STYLING*/
a#badge{
	color:#CCCCCC
}
a#badge:hover{
	color:#FFFFFF
}
img#skBadge{
	padding-left:60px;
}


#lessonMakerWrap {
    float: left;
    width: 100%;
}
#lessonMakerLeft {
    padding-left: 20px;
    width:50% - 20px;
    float:left;
}
#lessonMakerRight {
    padding-left: 50px;
    width: 50%;
    float:right;
}
#lessonMakerTextarea {
    resize: none;
}
#lessonMakerProblem {
    text-align: center;
    margin-right: 80px;
}
#lessonMakerSubmit {
    text-align: center;
    margin-right: 80px;
}


/************SPECIFIC STUFF***************/
/*SCALE & FILTER*/
a#easteregg{
	width:15px;
	height:10px;
	background-image:url('../images/l2m.ico');
	background-size:15px 15px;
	position:fixed;
	bottom:15px;
	left:3px;
}

img#openBadgesImg{
	display:block;
	margin: 0 auto;
}

 div#progress-label {
    position: relative;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
    top: -27px;
    margin-right:49%;
    left:49%;
 }
 div#progressbar {
 	position: relative;
 	top: -1px;
 }
